@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">BOU Admission portal</h1>
    <p>Registration going on for "BSc in CSE"</p>
    <p>Click here for registration <a href="@Url.Action("Index", "Registrations")">Registration</a>.</p>
</div>
