@model AdmissionRegistrationSystem.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<style>
    h1, hr {
        text-align: center;
    }

    form {
        text-align: left; /* Reset text alignment for the form */
        max-width: 300px; /* Adjust the width as needed */
        margin: 0 auto;
    }
</style>

<h1>Login Portal For Admin</h1>

<hr />

<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-top:20px">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
