@model AdmissionRegistrationSystem.Models.RegistrationModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>RegistrationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="regId" class="control-label"></label>
                <input asp-for="regId" class="form-control" />
                <span asp-validation-for="regId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MName" class="control-label"></label>
                <input asp-for="MName" class="form-control" />
                <span asp-validation-for="MName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="School" class="control-label"></label>
                <input asp-for="School" class="form-control" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="College" class="control-label"></label>
                <input asp-for="College" class="form-control" />
                <span asp-validation-for="College" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermAddressId" class="control-label"></label>
                <select asp-for="PermAddressId" class ="form-control" asp-items="ViewBag.PermAddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PresAddressId" class="control-label"></label>
                <select asp-for="PresAddressId" class ="form-control" asp-items="ViewBag.PresAddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NID" class="control-label"></label>
                <input asp-for="NID" class="form-control" />
                <span asp-validation-for="NID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSCId" class="control-label"></label>
                <select asp-for="SSCId" class ="form-control" asp-items="ViewBag.SSCId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HSCId" class="control-label"></label>
                <select asp-for="HSCId" class ="form-control" asp-items="ViewBag.HSCId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
